.lblForm , .inpForm{
    width: 50%;
    display: block;
    float: left;
}
.inpForm input , textarea{
    margin: 20px;
}
.lblForm {
    text-align: right;

}
.lblForm label{
    margin: 23px;
}
#covertLabel {
    margin-top: 165px;
}
#summary {
    resize: none;
}